.ds-border-inner-secondary {
  box-shadow: inset 0 0 0 1px theme('colors.primary-t');
  &--disabled {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  }
}
.ds-border-inner-additional {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  &--disabled {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  }
}
// Transitions
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

// https://tailwindcss.com/docs/customizing-colors
@layer base {
  :root {
    --ds-colors-primary-f: 6 182 212; // #06b6d4
    --ds-colors-primary-t: 59 130 246; // #3b82f6
    --ds-colors-focus: 86 221 214; // #56ddd6

    --ds-colors-primary-f-stop: 0%;
    --ds-colors-primary-t-stop: 100%;
  }
}
