@import 'air-datepicker/air-datepicker.css';

.air-datepicker {
  --adp-color: rgba(0, 0, 0, 0.85);
  --adp-color-secondary: theme('colors.primary-t');
  --adp-width: 320px;
  --adp-padding: 16px;
  --adp-border-radius: 8px;
  --adp-day-cell-height: 46px;
  --adp-cell-border-radius: 9999px;
  --adp-accent-color: theme('colors.primary-t');
  --adp-cell-background-color-selected: theme('colors.primary-t');
  --adp-cell-background-color-selected-hover: rgba(7, 102, 247, 0.9);
  --adp-font-size: 1rem;
  --adp-background-color-hover: #f2f2f2;
  --adp-color-disabled: rgba(0, 0, 0, 0.4);
  --adp-day-name-color: rgba(0, 0, 0, 0.4);
  --adp-btn-border-radius: 8px;
  --adp-btn-height: 40px;

  box-shadow: theme('boxShadow.DEFAULT');

  .air-datepicker-nav--title {
    font-weight: 600;
    line-height: 22px;
  }
  .air-datepicker-nav--action {
    svg {
      width: 1rem;
      height: 1rem;
      path {
        fill: theme('colors.primary-t');
      }
    }
  }
  .air-datepicker-nav--action.-disabled- {
    pointer-events: none;
    visibility: unset;
    opacity: 0.5;
  }
  .air-datepicker-nav {
    border-bottom: unset;
    padding-bottom: 8px;
  }
  .air-datepicker-body--day-names {
    margin: 8px 0 14px;
  }
  .air-datepicker-body--day-name {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
  .air-datepicker-cell {
    height: 38px;
    width: 38px;
    &.-current- {
      border: 1px solid var(--adp-color-current-date);
    }
    &.-month- {
      width: auto;
      border-radius: 8px;
    }
    &.-year- {
      width: auto;
      border-radius: 8px;
    }
    &.-selected-.-focus- {
      border-color: var(--adp-cell-background-color-selected-hover);
    }
  }
  .air-datepicker--content {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .air-datepicker--buttons {
    padding-top: 8px;
    border-top: unset;
    .air-datepicker-buttons {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

@media (max-width: 474.98px) {
  .air-datepicker-global-container {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    opacity: 0;
  }
  .air-datepicker-global-container:has(:only-child) {
    opacity: 1;
    position: fixed;
    z-index: 50;
    background: rgba(0, 0, 0, 0.65);
    width: 100vw;
    height: 100vh;
  }

  .air-datepicker {
    left: unset !important;
    top: unset !important;
    position: unset !important;
    transform: translateX(calc((100vw - 322px) / 2))
      translateY(calc((100vh - 406px) / 2)) !important;

    .air-datepicker--pointer {
      display: none;
    }
  }
}
